.cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

.cont > button{
    border-radius: 1em;
    background-color: antiquewhite;
    gap: 20px;

}